beautifulsoup4
boto3
click
fastapi
feedgen
jinja2
motor
openpyxl
peewee
pdfplumber
pydantic[email]
python_dotenv
python-dateutil
requests
sentry-sdk[fastapi]
uvicorn[standard]

# https://github.com/biglocalnews/warn-scraper
html5lib
tenacity
xlrd
retry

urllib3==1.26.18