beautifulsoup4
boto3
click
fastapi
feedgen
jinja2
motor
peewee
pdfplumber
pydantic[email]
python_dotenv
python-dateutil
requests
tabulate
uvicorn[standard]

# https://github.com/biglocalnews/warn-scraper
html5lib
openpyxl
tenacity
xlrd
retry

urllib3==1.26.18