<table class="table table-striped responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Title</th>
            <th>Reports</th>
        </tr>
    </thead>
    <tbody>
        {%- for naic in naics %}
        <tr>
            <td>{{ naic.id }}</td>
            <td>{{ naic.code }}</td>
            <td>{{ naic.title }}</td>
            <td>{{ naic.reports_count|nf }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>