<div class="report-detail">
    <h2>
        {%- if viewlink|default(false) -%}
        <a href="/r/{{ report.id }}">{{ report.company }}</a>
        {%- else -%}
        {{ report.company }}
        {%- endif -%}
    </h2>
    <table class="report-detail-table">
        <tbody>
            <tr>
                <th scope="row">State</th>
                <td>{{ report.state }}</td>
            </tr>
            <tr>
                <th scope="row">Reported</th>
                <td>{{ report.reported.date() }}</td>
            </tr>
            {%- if report.starting %}
            <tr>
                <th scope="row">Starting</th>
                <td>{{ report.starting.date() }}</td>
            </tr>
            {%- endif %}
            {%- if report.employees %}
            <tr>
                <th scope="row">Employees</th>
                <td>{{ report.employees }}</td>
            </tr>
            {%- endif %}
            {%- if report.action %}
            <tr>
                <th scope="row">Action</th>
                <td>{{ report.action }}</td>
            </tr>
            {%- endif %}
            {%- if report.location %}
            <tr>
                <th scope="row">Location</th>
                <td>{{ report.location }}</td>
            </tr>
            {%- endif %}
            {%- if report.url %}
            <tr>
                <th scope="row">URL</th>
                <td><a href="{{ report.url }}" target="_blank">{{ report.url }}</a></td>
            </tr>
            {%- endif %}
        </tbody>
    </table>
    {%- if with_artifacts|default(true) and report.artifacts %}
    <div class="report-artifacts">
        <h3>Artifacts</h3>
        <table>
            <tbody>
                {%- for artifact in report.artifacts %}
                <tr>
                    <td><a href="/v/{{ artifact.id }}" target="_blank">{{ artifact.name }}</a></td>
                    <td><a href="/d/{{ artifact.id }}" target="_blank">download</a></td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
    {%- endif %}
    {%- if with_naics|default(true) and report.naics %}
    <div class="report-naics">
        <h3>NAICS</h3>
        <table>
            <tbody>
                {%- for naics in report.naics %}
                <tr>
                    <td>{{ naics.id }}</td>
                    <td>{{ naics.title }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
    {%- endif %}
</div>