{{- report.state }}
{%- if report.employees %} | {{ report.employees }} employees {%- endif %}
{%- if report.starting %} | starting {{ report.starting.date() }} {%- endif %}
{%- if report.action %} | {{ report.action }} {%- endif %}
{%- if report.location %} | {{ report.location }} {%- endif %}