@import 'bootstrap';
@import 'datatables.net-bs5';
@import 'datatables.net-responsive-bs5';

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.req {
  color: red;
}

h2,
h3,
.report-view {
  margin-bottom: 20px;
}

.report-view td,
.report-view th {
  padding: 5px;
}

h2,
h3,
ul.list-group.feed-list>.list-group-item {
  margin-top: 20px;
}

ul.list-group.feed-list>.list-group-item {
  border-top-width: 1px;
}

td.field-employees,
td.field-starting,
td.field-reported {
  text-align: right;
}

th.field-state,
td.field-state {
  width: 60px;
}

th.field-employees,
td.field-employees {
  width: 100px;
}

th.field-company,
td.field-company {
  width: 450px;
}

th.field-reported,
td.field-reported,
th.field-starting,
td.field-starting {
  width: 125px;
}

.hidden {
  display: none;
}

.search-form {
  width: 100%;
}

.nav.main-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

rapi-doc {
  --bg: var(--bs-body-bg);
  --header-bg: var(--bs-body-bg);
}