{%- extends 'base.jinja' %}
{%- block content %}
<h2>Collection Stats</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Records</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {%- for name, stats in stats.items() %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ '{:,}'.format(stats.count) }}</td>
            <td>{{ '{:,}'.format(stats.size) }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
<h2>State Stats</h2>
{%- include 'states/table.jinja' %}
{%- endblock %}
{%- block scripts %}
<script>
$(() => {
    $('#states_table').DataTable({
        paging: false,
        filter: false,
        layout: {
            bottomStart: null,
        },
    })
});
</script>
{%- endblock %}