{%- extends 'base.jinja' %}
{%- block content %}
<h2>Collection Stats</h2>
{%- include 'stats/collections.jinja' %}
<h2>State Stats</h2>
{%- include 'stats/states.jinja' %}
<h2>NAICS Stats</h2>
{%- include 'stats/naics.jinja' %}
{%- endblock content %}
{%- block scripts %}
<script>
$(() => {
    $('table').DataTable({
        paging: false,
        filter: false,
        layout: {
            bottomStart: null,
        },
    })
});
</script>
{%- endblock scripts %}