<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    {%- block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock %}
    {%- block head %}
      <title>{% block title %}WARN Reporter{% endblock %}</title>
      <link href="/static/scss/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
      <link href="/static/css/main.css" rel="stylesheet">
      {%- block styles %}{% endblock %}
      {%- block extrahead %}{% endblock %}
    {%- endblock %}
  </head>
  <body>
    {%- block body %}
      {%- block nav %}
      <div class="container-flex bg-light">
        <div class="container" id="id_mainnav"></div>
      </div>
      {%- endblock %}
      <div id="id_maincontent" class="container">
        {%- block content %}{% endblock %}
      </div>
    {%- endblock %}
    {%- block base_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.min.js"></script>
    {%- endblock %}
    {%- block main_scripts %}
    <script type="module">
    import {renderNav} from '/static/js/nav.js'
    $(async () => await renderNav('#id_mainnav'))
    </script>
    {%- endblock %}
    {%- block scripts %}{% endblock %}
  </body>
</html>
