{%- extends 'base.jinja' %}
{%- block content %}
<div>
    <h2>Full Feed</h2>
    <ul>
        <li><a href="/feed/rss">RSS</a></li>
        <li><a href="/feed/atom">Atom</a></li>
    </ul>
</div>
<div class="feed-customize">
    <h2>Custom Feed</h2>
    <form class="row g-3" id="search_form">
        <div class="col-4">
            <label for="search_text">Search</label>
            <input class="form-control" name="text" id="search_text">
        </div>
        <div class="col-2">
            <label for="search_state">State</label>
            <select class="form-select" name="state" id="search_state">
                <option value="">-</option>
                {%- for state in states %}
                <option value="{{ state.id }}" {% if form.state == state.id %}selected{% endif %}>{{ state.id }}</option>
                {%- endfor %}
            </select>
        </div>
        <div class="col-2">
            <label for="search_employees">Employees</label>
            <input class="form-control" name="employees" type="number" id="search_employees" value="{{ form.employees|default('', true) }}">
        </div>
        <div class="col-2">
            <label for="search_naics">NAICS</label>
            <input class="form-control" name="naics" type="number" id="search_naics" value="{{ form.naics|default('', true) }}">
        </div>
        <div class="col-1">
            <label for="search_submit"></label>
            <button type="submit" class="form-control btn btn-primary" id="search_submit">Submit</button>
        </div>
        <div class="col-1">
            <label for="search_clear"></label>
            <button class="form-control form-reset btn btn-secondary" id="search_clear">Clear</button>
        </div>
    </form>
    {%- if is_custom %}
    <dl>
        <dt>Feed Title</dt>
        <dd>WARN Reports {{ custom_desc }}</dd>
        <dt>Permalinks</dt>
        <dd><a href="{{ permalinks.rss }}">RSS</a> | <a href="{{ permalinks.atom }}">Atom</a></dd>
    </dl>
    {%- endif %}
</div>
<div class="feed-results">
    <ul class="list-group feed-list">
        {%- with viewlink=true, with_naics=false, with_artifacts=false %}
        {%- for report in reports %}
        <li class="list-group-item">
            {%- include 'reports/detail.jinja' %}
        </li>
        {%- endfor %}
        {%- endwith %}
    </ul>
</div>
{%- endblock %}
{%- block scripts %}
<script src="/static/js/feed.js" type="module"></script>
{%- endblock %}