{%- extends 'base.jinja' %}
{%- block content %}
<div id="id_maincontent"></div>
{%- endblock content %}
{%- block scripts %}
<script src="/static/js/{{ path.lstrip('/') }}.js" type="module"></script>
{%- endblock scripts %}
