{%- extends 'base.jinja' %}
{%- block content %}
{%- if majors %}
<h3>recent major ones</h3>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Employees</th>
            <th>Company</th>
            <th>State</th>
            <th>Reported</th>
            <th>Starting</th>
        </tr>
    </thead>
    <tbody>
        {%- for report in majors %}
        <tr>
            <td>{{ report.employees }}</td>
            <td><a href="/r/{{ report.id }}">{{ report.company }}</a></td>
            <td>{{ report.state }}</td>
            <td>{{ report.reported.date() }}</td>
            <td>{{ report.starting.date() if report.starting else '' }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- endif %}
{%- if states %}
<h3>states</h3>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>State</th>
            <th>Reports</th>
            <th>Last Reported</th>
        </tr>
    </thead>
    <tbody>
        {%- for state in states %}
        <tr>
            <td><a href="/feed/?state={{ state.id }}">{{ state.id }}</a></td>
            <td>{{ state.reports_count }}</td>
            <td>{{ state.last_reported.date() if state.last_reported else '' }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- endif %}
{%- if stats %}
<h3>collections</h3>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Records</th>
        </tr>
    </thead>
    <tbody>
        {%- for name, stats in stats.items() %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ stats.count }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- endif %}
{%- endblock %}