{%- extends 'base.jinja' %}
{%- block content %}
{%- if majors %}
<h3>Recent 50+ employees</h3>
{%- with reports=majors %}
{%- include 'reports/table.jinja' %}
{%- endwith %}
{%- endif %}
{%- endblock %}