{%- extends 'base.jinja' %}
{%- block content %}
<div class="reports-auto-table slim" data-query-id="query_majors">
    <h2>Recent 50+ employees</h2>
    {%- include 'reports/table.jinja' %}
</div>
{%- endblock %}
{%- block scripts %}
{%- set query = dict(employees_min=50, order='-reported') %}
<script type="json" id="query_majors">{{ query|tojson }}</script>
<script src="/static/js/table.js" type="module"></script>
{%- endblock %}