<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/docs">API</a></li>
  <li><a href="/feed/rss">RSS</a></li>
  <li><a href="/feed/atom">Atom</a></li>
  <li><a href="/follow/new">Follow</a></li>
</ul>