{%- extends 'base.jinja' %}
{%- block content %}
<div class="id_maincontent">
    {%- include 'reports/detail.jinja' %}
</div>
{%- endblock %}
{%- block scripts %}
<script src="/static/js/report.js" type="module"></script>
{%- endblock %}