{%- extends 'base.jinja' %}
{%- block content %}
<table class="table table-striped responsive" id="search_table">
    <thead>
        <tr>
            <th>State</th>
            <th>Company</th>
            <th>Reported</th>
            <th>Starting</th>
            <th>Employees</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="hidden">
    <form class="row g-3" id="search_form">
        <div class="col-3">
            <label for="search_text">Search</label>
            <input class="form-control" name="text" id="search_text">
        </div>
        <div class="col-2">
            <label for="search_state">State</label>
            <select class="form-select" name="state" id="search_state">
                <option value="">-</option>
                {%- for state in states %}
                <option value="{{ state.id }}">{{ state.id }}</option>
                {%- endfor %}
            </select>
        </div>
        <div class="col-2">
            <label for="search_reported_after">Reported after</label>
            <input class="form-control" name="reported_after" type="date" id="search_reported_after">
        </div>
        <div class="col-2">
            <label for="search_reported_before">Reported before</label>
            <input class="form-control" name="reported_before" type="date" id="search_reported_before">
        </div>
        <div class="col-2">
            <label for="search_employees_min">Employees min.</label>
            <input class="form-control" name="employees_min" type="number" id="search_employees_min">
        </div>
        <div class="col-1">
            <label for="search_clear"></label>
            <input type="submit" class="hidden">
            <button class="form-control clear-form btn btn-secondary" id="search_clear">Clear</button>
        </div>
    </form>
</div>
{%- endblock %}
{%- block scripts %}
<script src="/static/js/search.js"></script>
{%- endblock %}
