{%- for report in reports %}
<h2>{{ report.company.name }}</h2>
<table>
    <tbody>
        <tr>
            <th scope="row">Company</th>
            <td>{{ report.company.name }}</td>
        </tr>
        <tr>
            <th scope="row">State</th>
            <td>{{ report.company.state }}</td>
        </tr>
        {%- if report.location %}
        <tr>
            <th scope="row">Location</th>
            <td>{{ report.location }}</td>
        </tr>
        {%- endif %}
        {%- if report.action %}
        <tr>
            <th scope="row">Action</th>
            <td>{{ report.action }}</td>
        </tr>
        {%- endif %}
        {%- if report.employees %}
        <tr>
            <th scope="row">Employees</th>
            <td>{{ report.employees }}</td>
        </tr>
        {%- endif %}
        {%- if report.starting %}
        <tr>
            <th scope="row">Starting</th>
            <td>{{ report.starting.date() }}</td>
        </tr>
        {%- endif %}
        <tr>
            <th scope="row">Reported</th>
            <td>{{ report.reported.date() }}</td>
        </tr>
    </tbody>
</table>
{%- endfor %}